HydroServer/WaterOneFlow/GenericOdWs_vs2010/genericODws/wofGetCapabilities.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - Education Edition 7.1.1.1206 (http://www.liquid-technologies.com)-->
<schema xmlns:ogc="http://www.opengis.net/ogc" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:sos="http://www.opengis.net/sos/1.0" xml:lang="en" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/sos/1.0" version="1.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="http://schemas.opengis.net/ows/1.1.0/owsAll.xsd" namespace="http://www.opengis.net/ows/1.1" />
  <import schemaLocation="http://schemas.opengis.net/filter/1.1.0/filterCapabilities.xsd" namespace="http://www.opengis.net/ogc" />
  <annotation>
    <documentation>
			<description>This XML Schema encodes the SOS GetCapabilities operation request and response.</description>
		</documentation>
  </annotation>
  <!-- ==============================================================
		elements and types
	============================================================== -->
  <element name="GetCapabilities">
    <annotation>
      <documentation>Request to a SOS to perform the GetCapabilities operation. This operation allows a client to retrieve service metadata (capabilities XML) providing metadata for the specific SOS server. In this XML encoding, no "request" parameter is included, since the element name specifies the specific operation. </documentation>
    </annotation>
    <complexType>
      <complexContent mixed="false">
        <extension base="ows:GetCapabilitiesType">
          <sequence />
          <attribute fixed="SOS" name="service" type="ows:ServiceType" use="required" />
        </extension>
      </complexContent>
    </complexType>
  </element>
  <!-- =========================================================== -->
  <element name="Capabilities">
    <annotation>
      <documentation>XML encoded SOS GetCapabilities operation response. This document provides clients with service metadata about a specific service instance, including metadata about the tightly-coupled data served. If the server does not implement the updateSequence parameter, the server shall always return the complete Capabilities document, without the updateSequence parameter. When the server implements the updateSequence parameter and the GetCapabilities operation request included the updateSequence parameter with the current value, the server shall return this element with only the "version" and "updateSequence" attributes. Otherwise, all optional elements shall be included or not depending on the actual value of the Sections parameter in the GetCapabilities operation request. </documentation>
    </annotation>
    <complexType>
      <complexContent mixed="false">
        <extension base="ows:CapabilitiesBaseType">
          <sequence>
            <element minOccurs="0" ref="sos:Filter_Capabilities" />
            <element minOccurs="0" ref="sos:Contents" />
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <!-- added by Mike Botts and Johannes Echterhoff to support temporal filter in SOS Capabailities 2007-10-18 -->
  <!-- temporary fix until temporal ops supported in filter -->
  <element name="Filter_Capabilities">
    <complexType>
      <sequence>
        <element ref="ogc:Spatial_Capabilities" />
        <element ref="ogc:Temporal_Capabilities" />
        <element ref="ogc:Scalar_Capabilities" />
        <element ref="ogc:Id_Capabilities" />
      </sequence>
    </complexType>
  </element>
</schema>